.carousel-item {
  height: 40vh;
}
.card {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-cta {
box-shadow: rgba(255, 209, 220, 0.15) 0px 5px 15px;
}

.price {
color: #a51558;
font-size: 24px;
}

.card-title {
color:#3b252e;
display: -webkit-box;
height: 50px;
text-overflow: ellipsis;
overflow: hidden;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
box-sizing:border-box;
}

.sale {
color: #E53935
}

.sale-badge {
background-color: #E53935
}