{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}
<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!-- Heading -->
        <h2 class="my-5 text-center">Kontak</h2>
        
        <div><b>Customer Service Kami Siap Melayani Anda</b></div>
        <hr>
        <a href="https://wa.me/+6282141646330">CS : +6282 141646330</a>
        <br><br>
        <a href="https://www.facebook.com/groups/267395923670715/">FB : Best Skincare </a>
        <br><br>
        <a href="https://www.instagram.com/skincarewanita.id/">IG : @skincare</a>
        <br><br>
    </hr>
    </div>
</main>
<!--Main layout-->
{% endblock content %}