{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-4">
            <h1 class="text-center">Order Summary</h1>
        </div>
    </div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>#</th>
            <th>Nama Produk</th>
            <th>Harga</th>
            <th>Quantity</th>
            <th>Total Harga</th>
        </tr>
        </thead>
        <tbody>
            {% for pItem in keranjang.produk_items.all %}
            <tr>
                <td scope="row">
                    {{ forloop.counter }}
                </td>
                <td>
                    <a href="{% url 'toko:produk-detail' pItem.produk_item.slug %}">
                        <div class="d-flex align-items-center">
                            <img
                                src="{{ pItem.produk_item.gambar.url }}"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                                />
                            <div class="ms-3">
                            <p class="fw-bold mb-1">{{ pItem.produk_item.nama_produk }}</p>
                            <p class="text-muted mb-0"> {{ pItem.produk_item.deskripsi|truncatewords:10 }}</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <div>Rp
                        {% if pItem.produk_item.harga_diskon %}
                        {{ pItem.produk_item.harga_diskon }}
                        {% else %}
                        {{ pItem.produk_item.harga }}
                        {% endif %}
                    </div>
                </td>
                <td>
 <!--                   <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-sm btn-secondary decrement-btn" data-url="{% url 'toko:decrement-quantity' pItem.id %}">
                            -
                        </button>
 -->                       
                        <span class="mx-2">{{ pItem.quantity }}</span>
<!--                        <button class="btn btn-sm btn-secondary increment-btn" data-url="{% url 'toko:increment-quantity' pItem.id %}">
                            +
                        </button>
 --> 
                    </div>
                </td>
                
                <td>                
                    {% if pItem.produk_item.harga_diskon %}
                    Rp{{ pItem.get_total_harga_diskon_item }}
                    <span class="badge badge-danger rounded-pill d-inline">Hemat Rp{{ pItem.get_total_hemat_item }}</span>
                    {% else %}
                    Rp{{ pItem.get_total_harga_item }}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan='5'>Keranjang kosong</td>
            </tr>
            <tr>
                <td colspan="5">
                <a class="btn btn-primary float-end" href="{% url 'toko:home-produk-list' %}">Lanjut belanja</a>
                </td>
            </tr>
            {% endfor %}

            {% if keranjang.get_total_harga_order %}
            <tr>
                <td colspan="4"><b>Total Belanja</b></td>
                <td><b>Rp{{ keranjang.get_total_harga_order }}</b>
                    {% if keranjang.get_total_hemat_order %}
                    <span class="badge badge-danger">Hemat Rp{{ keranjang.get_total_hemat_order }}</span>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td colspan="5">
                <a class='btn btn-dark float-end ml-2' href="{% url 'toko:checkout' %}">Checkout</a>
                <a class='btn btn-danger' href="{% url 'toko:home-produk-list' %}">Lanjut belanja</a>
                </td>
            </tr>
            {% endif %}
            

            <script>
                // Function to handle quantity update
                function updateQuantity(url) {
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Update the quantity on the page
                        const quantityElement = document.querySelector('.quantity-' + data.item_id);
                        quantityElement.textContent = data.quantity;
                        
                        // Update the total price on the page
                        const totalHargaElement = document.querySelector('.total-harga-' + data.item_id);
                        totalHargaElement.textContent = 'Rp' + data.total_harga;
                    })
                    .catch(error => console.log(error));
                }
            
                // Add event listeners for increment and decrement buttons
                const incrementButtons = document.querySelectorAll('.increment-btn');
                incrementButtons.forEach(button => {
                    button.addEventListener('click', () => {
                        const url = button.getAttribute('data-url');
                        updateQuantity(url);
                    });
                });
            
                const decrementButtons = document.querySelectorAll('.decrement-btn');
                decrementButtons.forEach(button => {
                    button.addEventListener('click', () => {
                        const url = button.getAttribute('data-url');
                        updateQuantity(url);
                    });
                });
            </script>


            
        </tbody>
  </table>
</div>
{% endblock content %}